.contenedor-main-visualizacion{
    .carrusel-visualizacion{
        @include flex-center;
        flex-direction: column;
        padding: 2rem;
       div{
        margin-bottom: 1rem;         
        opacity: 0.9;
        width: 25rem;
        height: 25rem;
        div{
            div{
                text-align: center;
                img{
                    object-fit: cover;
                }
              
            }
        }
       }
        form{
       background-image: linear-gradient( 
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(https://i.ibb.co/tmZTX9H/fondo-form.jpg);
       background-position: center ;
       background-repeat: no-repeat;
       background-size: cover;
       min-height: 100%;
       overflow-x: hidden;  
       
       
        color: whitesmoke;
        padding: 2rem;
        input{
            width: 25rem;
            height: 2rem;
        }
    }
    }
}